<menu>
    <Services>
        <Automatisierung VisibleName="Automation" cssClass="fa fa-cogs fa-fw">
            <Status order="0" url="/ui/automatisierung/index/status" VisibleName="Status" cssClass="fa fa-dashboard fa-fw"/>
            <Konfiguration order="1" url="/ui/automatisierung/index/index" VisibleName="Configuration" cssClass="fa fa-cog fa-fw"/>
            <Backup order="2" url="/ui/automatisierung/index/backup" VisibleName="Configuration Backup" cssClass="fa fa-archive fa-fw"/>
        </Automatisierung>
    </Services>
</menu>
